.content{
    text-align:center;
    margin-right:30%;
    margin-left:35%;
    margin-top:15%;
    color:white;
}

.green{
    color:green;
}

body{
    background-image: url("./image/soccer.jpg");
    background-size: cover;
    opacity:60%;
}

html{
    height: 100%;
}
